.md-field-readonly:after,
.md-field-readonly:before {
    display: none !important;
}

.table-max {
    max-width: calc(100vw - 10vw);
}

body {
    margin: 0 5vw;
}

.mbt-0 {
    margin: 0 !important;
}